body {
  border: dashed;
  background-color: #b39ba3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #d49baf;
  border: solid;
  border-color: red;
}

#menu {
  width: 75%;
  border: solid;
  border-color: blue;
  display: inline flex;
  justify-content: space-around;
}

.pdf {
  width: 75%;
  min-height: 100vh;
}

#cardGroup {
  display: flex; 
  width: 75%;
  justify-content: space-around;
  border: solid;
  border-color: yellow;
}

.card {
  background-color: white;
  width: 350px;
  height: 270px;
  border: solid;
}
