html {
  text-align: center;
}

body {
  border: dashed;
  background-color: grey;
  display: flex;
  justify-content: space-around;
}

h1 {
  color: #ad0037;
}

#menu {
  display: flex;
  justify-content: space-around;
  border: dotted;
}

.pdf {
  width: 75%;
  min-height: 100vh;
}

.card {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 350px;
  height: 270px;
  border: solid;
}
