body {
  border: dashed;
  background-color: #b39ba3;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

h1 {
  color: #f595cf;
}

#menu {
  border: dotted;
}

.pdf {
  width: 75%;
  min-height: 100vh;
}

.card {
  background-color: white;
  width: 350px;
  height: 270px;
  border: solid;
}
